{{define "artist"}}
<html>
	<h1>{{ .title }}</h1>
  <img src="{{ .image }}" />
  
	<p>{{.name}}</p>
	<p>{{.members}}</p>
	<p>{{.creationDate}}</p>
	<p>{{.firstAlbum}}</p>
	<p>{{.locations}}</p>
	<p>{{.concertDates}}</p>
	<p>{{.relations}}</p>
</html>
{{end}}